{% extends 'base.html.twig' %}

{% block title %}Products
{% endblock %}

{% block body %}
	<h1 style="margin-top : 60px">Products</h1>

	<a href="{{ path('admin_product_new') }}" class="btn btn-primary" >Add New Product</a>

	<table class="table mt-3">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.quantity }}</td>
					<td>${{ product.price|number_format(2, '.', ',') }}</td>
					<td>
						{% if product.image %}
							<img style="" src="{{ asset('images/' ~ product.image) }}" alt="{{ product.name }}" width="50" height="50"/>
						{% endif %}
					</td>
					<td>
						<a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-warning">Edit</a>
						<form action="{{ path('admin_product_delete', {'id': product.id}) }}" method="post" style="display:inline-block;">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
{% endblock %}

